.newline button{
  width: 200px;
  height: 200px;
  background: black;
  border: none;
  margin: 8px;
  color: white;
  font-size: 2rem;
  box-shadow: 2px 2px 2px #14141461;
  border-radius: 8px;
}

input {
  margin:8px;
  background: #f0f0f0;
  border: none;
  width: 970px;
  height: 100px;
  border-radius: 8px;
  font-family: monospace;
  font-size: 3rem;
  text-align: right;
}
.operations{
  display: flex;
}
.newcolumn {
  display: flex;
  flex-direction: column;
}
.newcolumn button{
  width: 150px;
  height: 146px;
  background: #14141461;
  border: none;
  margin: 8px;
  color: white;
  font-size: 2rem;
  box-shadow: 2px 2px 2px #333;
  border-radius: 8px;
}
.newcolumn #total {
  height: 306px ;
  background: coral
}
.main{
  display: flex;
}
button:hover{
  border: 3px solid white;
}